

<div>
    <div><?=$this->form_user?></div>
    <div><?=$this->form_company?></div>
</div>


<script>
    function notValid(reg, value, message) {
        if(reg.test(value) === false){
            alert(message);
            return true;
        }
        return false;
    }

    require([
        "dojo/dom",
        "dojo/on",
        'dojo/query',
        'dojo/dom-attr',
        'dojo/request',
        'dijit/form/Select',
        "dojo/dom-construct",
        'dojo/json',
        'dojo/_base/array',
        "dojox/form/Manager",
        "dojo/domReady!"
    ], function(dom, on, query, domAttr, request, Select, domConstruct, json, jsonUtil, array) {

        var city = new Select({}, 'city');
        city.startup();

        city.on('change', function () {
            var metro = document.getElementById('metro');
            if(metro !== undefined) domConstruct.destroy('metro');

            switch (this.get('value')){
                case '1':
                    request.get('/ajax/get-metro?city=m', {handleAs: "json"}).then(
                        function (data) {
                            addMetro(data);
                        },
                        function (error) {
                            console.log(error);
                        }

                    );
                    break;
                case '2':
                    request.get('/ajax/get-metro?city=sp', {handleAs: "json"}).then(
                        function (data) {
                            addMetro(data);
                        },
                        function (error) {
                            console.log(error);
                        }
                    );
                    break;
                default:
            }
        });

        function addMetro(data) {
            var options = '';
            data = json.stringify(data);
            json.parse(data, function (value, label) {
                if(typeof label === 'string')
                options += '<option value="' + value + '">' + label + '</option>';
            });

            domConstruct.create('select', {
                innerHTML: options,
                id: 'metro'
            }, dom.byId('city'), 'after');
        }

        var form = dom.byId('form'),
            reg = '',
            value = '',
            message = '';

        on(form, 'submit', function (event) {
            event.preventDefault();

            query('form').forEach(function (node) {
                value = domAttr.get(node.name, 'value');
                reg = /^[а-яА-ЯёЁa-zA-Z0-9]{1,15}$/;
                message = 'Ошибка при вводе имени';
                if(notValid(reg, value, message)) return false;

                value = domAttr.get(node.surname, 'value');
                message = 'Ошибка при вводе фамилии';
                if(notValid(reg, value, message)) return false;

                value = domAttr.get(node.phone_country_code, 'value');
                reg = /\d{2}/;
                message = 'Ошибка при вводе кода страны';
                if(notValid(reg, value, message)) return false;

                value = domAttr.get(node.phone_provide_code, 'value');
                reg = /\d{4}/;
                message = 'Ошибка при вводе кода города';
                if(notValid(reg, value, message)) return false;

                value = domAttr.get(node.phone_number, 'value');
                reg = /\d{8}/;
                message = 'Ошибка при вводе номера телефона';
                if(notValid(reg, value, message)) return false;

                value = domAttr.get(node.phone_additional_number, 'value');
                reg = /\d{0,4}/;
                message = 'Ошибка при вводе дополнительного номера';
                if(notValid(reg, value, message)) return false;

                form.submit();
            });
        });


    });
</script>
