<?php
$users = $this->users;
?>

<div>
    <div><a href="/">Добавить пользователя</a> </div>
    <div>
        <?php if(count($users)){?>
            <table>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th></th>
                </tr>
                <?php foreach ($users as $user) {?>
                    <tr>
                        <td><?=$this->escape($user['name'])?></td>
                        <td><?=$this->escape($user['surname'])?></td>
                        <td>
                            + <?=$user['phone_country_code']?>
                            (<?=$user['phone_provide_code']?>)
                            <?=$user['phone_number']?>
                            <?=empty($user['phone_additional_number'])? '':
                                "(доп.{$user['phone_additional_number']})"?>
                        </td>
                        <td><a href="/?id=<?=$user['id']?>">Изменить</a></td>
                    </tr>
                <?php }?>
            </table>
        <?php } else {?>
            Не найдено ни одного пользователя
        <?php }?>
    </div>
</div>
