<?php

echo $this->doctype();
?>
<html>
<head>
    <?=
    $this->headMeta() .
    $this->headTitle() .
    $this->headLink()
        ->appendStylesheet('http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css').
    $this->headScript(); ?>

    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
            data-dojo-config="parseOnLoad:true,async:true"></script>

</head>
<body class="claro">
<header>
    <div class="container">
    </div>
</header>
<div class="container">

    <?= $this->layout()->content ?>

</div>
<!-- FOOTER HERE -->
<footer role="contentinfo">

</footer>
<!-- THANKS FOR YOU ATTENTION -->

</body>
</html>
