<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><?=__('Page not found')?></title>
</head>
<body>
  <h1><?=__('Page not found')?></h1>
</body>
</html>
