<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><?='Application error'?></title>
</head>
<body>
  <h1><?='An error occurred'?></h1>
  <h2><?=$this->message?></h2>

  <? if(isset($this->exception)){?>
	  <h3><?='Exception information'?>:</h3>
	  <p>
		  <b><?='Message'?>:</b> <?php echo $this->exception->getMessage() ?>
	  </p>
	
	  <h3><?='Stack trace'?>:</h3>
	  <pre><?=$this->exception->getTraceAsString() ?></pre>
	
	  <h3><?='Request Parameters'?>:</h3>
	  <pre><?=var_export($this->request->getParams(), true) ?></pre>
  <? }?>

</body>
</html>
